body, html {
    background-color: #FFFAFA;
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: black;
    /* NOTE: style change from normal to all lowercase. testing this out. */
    text-transform: lowercase;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh3.googleusercontent.com/sRuzuf5svCQQMkIf3_fH15UoUz2JoUABUL2i0Nw_bibfzxgHeAfD6sRFjzDI1WQwJ7u6RqT8tvsSw9zLezGeGZOXT7LzaA-xzH1q5hXZqNsAlaU9ml-GKQbRFoQT6yHuFG_wO5TehcR90dj7cFUp5pDdb5b354wOmuvZkHHLQ1RpSPZ2FsyVpVYsLckSVJ9ZEBTJtI7WN9jzYchyHS0SLXxX3KYPInriX-Tqanj1t9DWpks03Nm3PKs7N4YGGgoYhxTyeKrB0VnDIf19lQ_0bQ_LKk6tcZaGvFhVM7rdAGn2CpMgbc-Yh95Dy3loinwUihBYl4_-fHQvFdT8oxiVA3BHn26iIXXz8abNyBDZzIhBu-LlntOnO5ja-arhe0BfVzbJoplglmawgF5j-ifYW1sfrUp-cgPl5WPyY37GEmD3hnzUG5h9NkKxpmDeSUMiXFdzBcKS3EoBII5fbL7c4tbgtvby4YLB67MtrZ8NxE3MGygPP2ny_N4SogF1DvUZEQ7ZlWTA2d9YIu3tzf95jVX0kLx2_V_aNdEC2rXRqxeZ3L05xJem5FAScVL9XVPbwExUNYn5LhGjJak0vwv1hHFsrMOWhiPhVnLJ-XTu2NXxKxEjwnpV1cLA8SkXWeUME4XKb9Cfptw4tgWamLvV6-YmlcKAMnKsqJ9Bi8OnyENwHa4P1wgcWiXUqedbxBrHmOjtqMQSH99GCrrXISx-td4W=w2164-h1442-no");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
h1 {
  font-size: 3em;
}
h2 {
  font-weight: normal;
}
.button {
  background-color: #304f73;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#aboutme {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 15px;
  border-radius: 50%;
  box-shadow: 4px 4px 5px grey;
}
#roadimage {
  float: right;
  width: 200px;
  height: 200px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
  border-radius: 50%;
  box-shadow: 4px 4px 5px black;
}
.aboutmesection {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#experiencesection {
  background-color:#304f73;
  color: white;
  margin: 0px;
}
#experiencehello {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#experiencedescription {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.hello {
  font-size: 1.5em;
  font-weight: bold;
}
.icons {
  text-align: center;
}
.iconimages {
  margin-left: 15px;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}
.scenic {
  max-width: 450px;
  height: 300px;
  margin: 15px;
  transition: all 1s;
  box-shadow: 4px 4px 5px grey;
}
.scenic:hover {
  transform: scale(1.1)
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#nicequote {
  text-align: center;
  margin-bottom: 15px;
}
#photoheader {
  text-align: center;
}
#topbutton {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
