/* Heavily inspired by http://vakila.github.io/ */
/* Basics */
.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

/* Font */
html {
    font-family: 'Roboto', sans-serif;
}

.sidebar-about h1 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

/*h1, /*h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}*/

.content h1 {
  font-size: 2rem;
  padding-top:0.5rem;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: .5em;
}


/* Override Hyde/Poole */
@media (min-width: 48em) {
  .content, .container {
    max-width: none;
  }
}

@media (min-width: 48em) {
  .sidebar {
    width: 20rem;
    height: 100vh;
    overflow-y: auto;
    padding-top:4rem;
  }
}

/* trying to style main for BG */
@media (min-width: 48em) {
  .main {
     margin-left: 20rem;
     height: 100vh;
     /* NOTE:
     background: white url('/assets/bg.svg') no-repeat bottom right;
     background-size: 70%;
     overflow-y: auto; */
  }
}

/* may need to make margin-left applicable
to only content and not container */
@media (min-width: 48em) {
  .content {
    margin-left: 0rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 2rem;
  }
}


/* From Bootstrap */
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    display: flex;
    justify-content: space-between;
}

/* Adapted from Alexandre Vicenzi https://alexandrevicenzi.com/ */
.btn-social {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    line-height: 2.5em;
}


.btn-outline {
    margin-top: 3vh;
    border: solid 2px #fff;
    font-size: 1em;
    /*transition: all .3s ease-in-out;*/
    background: #fff;
}
a.btn-outline {
    color: inherit;
}

.sidebar a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.sidebar a:active {
    opacity: 0.5;
    text-decoration: none;
}

#credits {
  font-size: 0.8em;
}

#credits a {
    opacity: 0.75;
    text-decoration: none;
}

/*a.btn-outline:active,*/
a.btn-outline:hover {
    opacity: .75;
    background: 0;
    color: #fff;
}

a.btn-outline:active {
    opacity: 1;
    background: #fff;
    color: inherit;
}

.blog-nav {
    margin-top: -2em;
    margin-bottom: .5em;
    /*font-size: .75em;*/
    text-align: center;
}

.page-title {
    padding-bottom: 1em;
}

.post-subtitle {
    color: #515151;
    margin-top: -.5em;
    margin-bottom: 1em;
}

/* this does some magic that preserves the 8.5x11" aspect ratio */
.pdf-container {
    height: 0;
    width: 100%;
    padding-bottom: 129.41%; /* 11/8.5 = 1.2941 */
    overflow: hidden;
    position: relative;
}

.pdf-container object {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* Projects */

/*.project {
    border-top: 1px solid gray;
    padding: 5px
}*/

/*.project-tagline {
    opacity: .5;
}*/

/* this does some magic that preserves the 8.5x11" aspect ratio */
.slide-container {
    height: 0;
    width: 100%;
    padding-bottom: 72%; /* 11/8.5 = 1.2941 */
    overflow: hidden;
    position: relative;
}

.slide-container object {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* IMAGES & CAPTIONS */
img {
  /* alt-text styling */
  font-size: .75rem;
  font-style: italic;
  font-family: Menlo, Monaco, "Courier New", monospace;
}
.caption {
  font-size: .75rem;
  font-style: normal;
}
.credit {
  font-size: .6rem;
  font-style: italic;
}

/* CODE */
code {
  color: inherit; /* code color matches text or link/title color */
  white-space: nowrap;
}
pre > code, .code > pre {
  white-space: pre; /* only code in <pre> blocks is allowed to wrap */
}
pre {
  overflow-x: scroll;
  padding: 5px;
  white-space: pre;
}
.lineno {
  word-break: keep-all;
  padding: 0;
  color: rgb(180,180,180);
}
code > table {
  margin-bottom: 0;
}
code table, code td {
  border: none;
}
figure {
  margin: 0;
}

/* COLORS */

/* Red */
.theme-base-08 #sidebar-buttons {
  color: #ac4142;
}

/* NOTE: testing button fix
.theme-base-08 a.btn-outline {
    color: #ac4142;
} */

@media (min-width: 48em) {
   .theme-base-08 .main {
        background: white url('/assets/bg-red.svg') no-repeat bottom right;
        background-size: 70%;
        overflow-y: auto;
   }
}

/* Orange */
.theme-base-09 #sidebar-buttons {
  color: #d28445;
}

/* NOTE: testing button fix
.theme-base-09 a.btn-outline {
    color: #d28445;
} */

@media (min-width: 48em) {
   .theme-base-09 .main {
        background: white url('/assets/bg-orange.svg') no-repeat bottom right;
        background-size: 70%;
        overflow-y: auto;
   }
}

/* Yellow // RAMA WORKS THEME */
.theme-base-0a .sidebar {
   background-color: #43484C;
}

.theme-base-0a .lead {
   color: #CB14CC;
}

.theme-base-0a .content a {
   color: #CB14CC;
}
.theme-base-0a .sidebar a {
   color: #FFC700;
}

.theme-base-0a #sidebar-buttons {
  color: #43484C; /* #DCAC69; #f4bf75;*/
}

.theme-base-0a a.btn-social.btn-outline {
   color: #43484C;
}

@media (min-width: 48em) {
   .theme-base-0a .main {
        background: white url('/assets/bg-yellow.svg') no-repeat bottom right;
        background-size: 70%;
        overflow-y: auto;
   }
}

/* Green */
.theme-base-0b #sidebar-buttons {
  color: #90a959;
}

@media (min-width: 48em) {
   .theme-base-0b .main {
        background: white url('/assets/bg-green.svg') no-repeat bottom right;
        background-size: 70%;
        overflow-y: auto;
   }
}

/* Cyan */
.theme-base-0c #sidebar-buttons {
  color: #75b5aa;
}

@media (min-width: 48em) {
   .theme-base-0c .main {
        background: white url('/assets/bg-cyan.svg') no-repeat bottom right;
        background-size: 70%;
        overflow-y: auto;
   }
}

/* Blue */
.theme-base-0d #sidebar-buttons {
  color: #6a9fb5;
}

@media (min-width: 48em) {
   .theme-base-0d .main {
        background: white url('/assets/bg-blue.svg') no-repeat bottom right;
        background-size: 70%;
        overflow-y: auto;
   }
}

/* Magenta */
.theme-base-0e #sidebar-buttons {
  color: #aa759f;
}

@media (min-width: 48em) {
   .theme-base-0e .main {
        background: white url('/assets/bg-magenta.svg') no-repeat bottom right;
        background-size: 70%;
        overflow-y: auto;
   }
}

/* Brown */
.theme-base-0f #sidebar-buttons {
  color: #8f5536;
}

@media (min-width: 48em) {
   .theme-base-0f .main {
        background: white url('/assets/bg-brown.svg') no-repeat bottom right;
        background-size: 70%;
        overflow-y: auto;
   }
}


/* Black (no class on body - Poole defaults) */
#sidebar-buttons {
  color: #000000;
}

@media (min-width: 48em) {
  .main {
     background: white url('/assets/bg-base.svg') no-repeat bottom right;
     background-size: 70%;
     overflow-y: auto;
   }
}
